<div class="container">
  <div class="header" style="font-size: x-large;"><b>My ToDo list Tracker 📝</b></div>
  <div class="content" *ngIf="selected">
    <table class="table" style="width: 70%; margin-top: 3%;">
      <thead class="dark">
        <tr>
          <th></th>
          <th>Task</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of todo; let i = index">
          <td>{{i+1}}</td>
          <td>{{t.taskName}}</td>
          <td>{{t.status}}</td>
          <td>
            <button class="btn btn-warning" (click)="getTodo()">Edit</button> &nbsp;
            <button class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="taskDiv" >
    <div class="taskClass" style="margin-top: 5%;" *ngIf="!selected">
      <label for="task"><b>Task:</b></label> &nbsp;
      <input type="text" id="task" name="task" #task> <br><br>
      <label for="radio"> <b>Status</b></label> <br>
        <input type="radio" name="radio" id="radio" value="Haven't Started 😏" style="margin-left: 12%;" (change)="statusChange($event)">   Haven't Started 😏 <br>
        <input type="radio" name="radio" id="radio" value="Started 😅" style="margin-left: 12%;" (change)="statusChange($event)">   Started 😅 <br>
        <input type="radio" name="radio" id="radio" value="Nah!!! Not yet Finsihed 😒" style="margin-left: 12%;" (change)="statusChange($event)">   Nah!!! Not yet Finsihed 😒 <br>
        <input type="radio" name="radio" id="radio" value="Finally! Finished!! 🤪" style="margin-left: 12%;" (change)="statusChange($event)">   Finally! Finished!! 🤪 <br>
        <br><br>
        <button class="btn btn-success" (click)="addTask(task.value, $event)" *ngIf="!selected">Add Task</button>
    </div>
    <br><br>
    <div class="footer">
      <button class="btn btn-success" (click)="addNewTask()" *ngIf="selected">Add New Task</button>
    </div>
  </div>

  <div class="updateTask" *ngIf="updateTask">

  </div>
</div>