html,body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.container {
    width: 80%;
    height: 80%;
    margin-top: 5%;
    height: 90vh;
}
.header {
    text-align: center;
}
.footer, .content, .taskDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}